body {
  background-image: linear-gradient(to right, #26A65B, #4183D7);
  padding-left: 260px;
  height: 100vh; }

h2,
h3 {
  font-family: "News Cycle", sans-serif; }

.sidebar {
  background: #FFF;
  height: 100vh;
  width: 250px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-card {
  margin: 10px;
  padding: 10px; }
  .sidebar-card h3 {
    margin: 0 0 5px 0;
    padding: 5px 0; }
  .sidebar-card h5 {
    font-family: "Open Sans", sans-serif;
    margin-top: 0; }

.sidebar-nav {
  flex-grow: 2; }
  .sidebar-nav ul {
    list-style-type: none;
    margin-left: -20px; }
  .sidebar-nav li {
    font-family: "News Cycle", sans-serif; }
  .sidebar-nav a {
    color: #000;
    text-decoration: none;
    position: relative; }
  .sidebar-nav a:hover {
    color: #7a7a7a; }
  .sidebar-nav h5 {
    font-family: "Open Sans", sans-serif; }

.glyphicon-sunglasses {
  color: #26A65B; }

.project-item a {
  color: #4183D7; }

.project-item a:hover {
  color: rgba(65, 131, 215, 0.8); }

.sidebar-title h3 {
  border-bottom: 2px solid #4183D7; }

.sidebar-title img {
  display: block;
  width: 120px;
  border-radius: 100%;
  margin: 0 auto; }

.sidebar-contact {
  margin-bottom: 50px; }
  .sidebar-contact p {
    font-size: .9em; }
  .sidebar-contact img {
    width: 20px;
    display: inline;
    margin-right: 10px; }

.content-card {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 25vh; }

.card-image {
  background: #CECECE;
  border-radius: 5px 0 0 5px;
  flex-basis: 30%;
  padding: 25px 10px;
  background-image: url("../img/chase_andrea_hiking.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.card-text {
  background: #FFF;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  flex-basis: 70%; }
  .card-text h2 {
    font-size: 2.5em;
    border-bottom: 2px solid #4183D7;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .card-text p {
    margin: 20px 0; }

.about-card .card-image {
  background-image: url("../img/chase_andrea_hiking.jpg"); }

.broadsheet-card .card-image {
  background-image: url("../img/chase_andrea_hiking.jpg"); }

.other-card .card-image {
  background-image: url("../img/chase_andrea_hiking.jpg"); }
