$washed-green: #26A65B
$washed-blue: #4183D7

$hover-blue: rgba(65, 131, 215, .8)

$title-stack: 'News Cycle', sans-serif
$subtitle-stack: 'Open Sans', sans-serif

body
    background-image: linear-gradient(to right, $washed-green, $washed-blue)
    padding-left: 260px

h2,
h3
    font-family: $title-stack

.sidebar
    background: #FFF
    height: 100vh
    width: 250px
    box-shadow: 5px 0 5px rgba(0,0,0,.2)
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: space-between

.sidebar-card
    margin: 10px
    padding: 10px

    h3
        border-bottom: 2px solid $washed-blue
        margin: 0 0 5px 0
        padding: 5px 0

    h5
        font-family: $subtitle-stack
        margin-top: 0

    img
        display: block
        width: 120px
        border-radius: 100%
        margin: 0 auto

.sidebar-nav
    flex-grow: 2

    ul
        list-style-type: none
        margin-left: -20px

    li
        font-family: $title-stack

    a
        color: #000
        text-decoration: none

    a:hover
        color: #7a7a7a

    h5
        font-family: $subtitle-stack

.project-item a
    color: $washed-blue

.project-item a:hover
    color: $hover-blue

.content-card
    border-radius: 5px
    box-shadow: 0 5px 15px rgba(0,0,0,.3)
    display: flex
    flex-direction: row
    width: 90%
    margin: auto
    margin-top: 25vh
    // font-size: 1.15em

.card-image
    background: #CECECE
    border-radius: 5px 0 0 5px
    flex-basis: 30%
    padding: 25px 10px
    background-image: url('../img/chase_andrea_hiking.jpg')
    background-size: cover
    background-repeat: no-repeat

    img
        display: block
        width: 100%
        vertical-align: center
        border-radius: 3px

    p
        font-size: .9em
        font-style: italic

.card-text
    background: #FFF
    // border-left: 1px solid #000
    padding: 20px
    border-radius: 0 5px 5px 0
    flex-basis: 70%

    h2
        font-size: 2.5em
        border-bottom: 2px solid $washed-blue
        padding-bottom: 10px
        margin-bottom: 10px
